<h1>Play! Dobrodošli</h1>
<p>Trenutno stanje sistema:</p>
<ul>
  <li><%= link_to sklanjaj_albume(@albums.size), albums_path %></li>
  <li><%= link_to sklanjaj_izvajalce(@artists.size), artists_path %></li>
  <li><%= link_to sklanjaj_komade(@tracks.size), tracks_path %></li>
</ul>